@font-face {
    font-family: 'Outfit';
    src: url('https://fonts.googleapis.com/css?family=Outfit') format('truetype');
}
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(180deg, #1A1A1A, #243949);
    overflow: hidden;
    font-family: 'Outfit';
}

.container {
    background-color: #FFFFFF;
    width: 570px;
    height: 360px;
    padding: 70px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: montse;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: #243949;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    margin-top: 3px;
    padding-bottom: 3px;
}

.rate {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.3rem;
}

.rate1 {
    padding-left: 77px;
}

.rate2 {
    padding-right: 100px;
}

.initial {
    font-size: 1.3rem;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
}

.swap {
    align-self: flex-end;
    padding: 0px;
    cursor: pointer;
}
.conversion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: -20px;
}
.begin{
    padding-left: 77px;
}
.end{
    padding-right: 165px;
}
.options select {
    padding: 2%;
    width: 120px;
    background-color: #F1F1F1;
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 1.2rem;
}

.input input {
    all: unset;
    display: inline-block;
    margin-top: 1rem;
    width: 120px;
    height: 48px;
    padding: 5px;
    background-color: #EBEBEB;
    color: #4D4D4D;
    font-size: 1.2rem;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 500;
    appearance: textfield;
    text-align: center;
}

.result {
    margin: 4rem auto 0;
    display: block;
    width: 40%;
    height: 50px;
    color: #FFFFFF;
    background-image: linear-gradient(180deg, #1A1A1A, #243949);
    outline: none;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.result:active {
    background-image: linear-gradient(180deg, #342F52, #3D3D3D);
}
